* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.game {
  width: 600px;
  min-height: 600px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto 10%;
  overflow: hidden;
  background-color: #353535;
  color: white;
}


.display {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}

.players-wrapper,
.msg-wrapper {
  --display: flex;
  --width: 100%;
}

span{
    text-align: center;
}

.board-area{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.board{
    width: 100%;
    height: 100%;
    
}
.row{
    width: 100%;
    height: 33.333%;
    
    display: flex;
}
.col{
    padding: 5px;
    width: 33.333%;
    height: 100%;
    
}


.piece{
    width: 100%;
    height: 100%;
    background-color:#70d6ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.piece:hover{
    background-color:#ff70a6;
}

.btn-wrapper{
    height: 100%;
    
}
.btn{
    padding: 5px;
    cursor: pointer;
    background-color: #ff70a6;
    border-radius: 15px;
    color: white;
    width: 120px;
    border: none;
}
.btn:hover{
    background-color:#89d9f8;
}

