:root {
  --O-color: #2196f3;
  --X-color: #f44336;
  --E-color: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: #eee;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  color: #555;
  margin-bottom: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 175px);
  grid-template-rows: repeat(3, 135px);
  gap: 1rem;
  margin-bottom: 2rem;
  transition: opacity .3s;
}

.game-over {
  opacity: 0.1;
}

.cell {
  display: grid;
  background-color: #fff;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.game-over .cell {
  pointer-events: none;
}

.cell:not(.O):not(.X):hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
}

.cell.O, .cell.X {
  cursor: not-allowed;
}

.cell.O {
  background-color: var(--O-color);
}

.cell.X {
  background-color: var(--X-color);
}

.cell.E {
  background-color: var(--E-color);
}

footer {
  text-align: center;
  margin-bottom: 1.33rem;
}

.winner-message {
  margin: 1.33rem;
}

.winner-message span.O {
  color: var(--O-color);
}

.winner-message span.X {
  color: var(--X-color);
}

button {
  position: absolute;
  background-color: #4caf50;
  min-width: 200px;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  transform: translate(-50%, -50%);
  z-index: 9;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .board {
    grid-template-columns: repeat(3, calc(33vmin - 1rem));
    grid-template-rows: repeat(3, calc(33vmin - 1rem));
  }
}